<h3>Please contact customer immediately.</h3>
<p>
&nbsp; &nbsp;&nbsp; &nbsp; Delivery id      : <%= @details.delivery_id %><br>
&nbsp; &nbsp;&nbsp; &nbsp; Customer Name    : <%= @details.booked_by %><br>
&nbsp; &nbsp;&nbsp; &nbsp; Customer Email   : <%= @details.email %> <br>
&nbsp; &nbsp;&nbsp; &nbsp; Customer Phoneno : <%= @details.phone_no%> <br>
&nbsp; &nbsp;&nbsp; &nbsp; Customer Address : <%= @details.address %> <br>

</p>
<h3> Follow information are truck booking </h3>
&nbsp; &nbsp;&nbsp; &nbsp; Source Place      : <%= @details.source %><br>
&nbsp; &nbsp;&nbsp; &nbsp; Destination Place : <%= @details.destination %> <br>
&nbsp; &nbsp;&nbsp; &nbsp; Truck type 		 : <%= @details.type %><br>
&nbsp; &nbsp;&nbsp; &nbsp; Delivery Address	 : <%= @details.delivery_address %><br>
&nbsp; &nbsp;&nbsp; &nbsp; Contact number    : <%= @details.contact_no %><br>
